.site {
	display: flex;
	flex-direction: column;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.jc-c {
	justify-content: center;
}

.ai-c {
	align-items: center;
}