.widget {
	margin-bottom: 4.8rem;
}

.widget-title {
	color: #BBB;
    font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 1;
	margin-bottom: 2.4rem;
	text-transform: uppercase;
}

.widget_search {
	.search-form {
		display: flex;
		flex-direction: column;
	}

	input[type="search"] {
		font-size: 1.4rem;
		width: 100%;
	}

	input[type="submit"] {
		-webkit-appearance: none;
		background: none;
		border: 2px solid #000;
		border-radius: 0;
		box-shadow: none;
		cursor: pointer;
		display: inline-block;
		font-size: 1.2rem;
		line-height: 0;
		margin-top: 2.4rem;
		padding: 2.4rem 0;
		text-transform: uppercase;
		transition: all 0.2s ease-out;
		width: 15rem;

		&:hover {
			background: #000;
			color: #FFF;
			transition: all 0.2s ease-out;
		}
	}
}

.widget_archive,
.widget_categories {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		font-family: 'Poppins', sans-serif;
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 1.5;
		margin-bottom: 0.6rem;
		text-transform: uppercase;
	}

	li > a {
		color: #4d4d4d;
	}
}

